{% extends 'base.html' %}

{% block title %}
    List of products
{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th> Name  </th>
            <th> Action  </th>
        </tr>
        </thead>
        <tbody>
        {% for product in all_products %}
            <tr>
                <td> {{ product.name }}</td>
                <td> <a href="{% url 'delete_product_cart' product.id %}" class="btn btn-warning"> Delete </a></td>
            </tr>
        {% endfor %}
        <a href="{% url 'create_new_order' %}" class="btn btn-success"> Delete </a>
        </tbody>
    </table>
{% endblock %}
