{% extends 'base.html' %}

{% block title %}
    Delete product
{% endblock %}

{% block content %}
    <form method='post'>
        <h1> Are you sure, you want to delete this product {{ product.name }} {{ product.type }}
            with his {{ product.weight }} ? </h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-warning"> Delete</button>
        <a href="{% url 'list_product_cart' %}"> cancel </a>
    </form>
{% endblock %}

