{% extends 'base.html' %}
{% block title %} Title {% endblock %}

{% block content %}
    <br><br>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.label == 'Username' %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">{{ field.label_tag }}</span>
                <input  type="text" name="username" autocomplete="username"  required="" id="id_username" class="form-control">
            </div>
            {% else %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">{{ field.label_tag }}</span>
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password" class="form-control">
            </div>
            {% endif %}
        {% endfor %}
        <div class="text-center">
            <button type="submit" class="btn btn-md btn-success">Login</button>
            <a class="btn btn-md btn-secondary" href="{% url 'home' %}">Cancel</a>
        </div>
    </form>
{% endblock %}