{% extends 'base.html' %}

{% block title %}
    Password reset done
{% endblock %}
<!-- Step 3 This page will allow the user to change the password -->
{% block content %}
    <form method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Change password</button>
    </form>
{% endblock %}
