{% extends 'base.html' %}

{% block title %}
    Password change done
{% endblock %}
<!-- Step 4 This page will inform the user about the change done on the password -->
{% block content %}
    <p> Password was changed !!!</p>
    <a href="{% url 'login' %}" class="btn btn-dark">Password changed</a>
{% endblock %}
