{% extends 'base.html' %}

{% block title %}
    Password reset
{% endblock %}
<!-- Step 1 This page is destined for password reset with the email address of the user -->
{% block content %}
    <form method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"  class="btn btn-warning">Reset password</button>
    </form>
{% endblock %}
