{% extends 'base.html' %}

{% block title %}
    Create new product
{% endblock %}

{% block content %}
    <form method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" > Save </button>
    </form>
    <a href="{% url 'all_products' %}"> Go to list of products </a>
{% endblock %}
