{% extends 'base.html' %}

{% block title %}
    List of products
{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th> Name </th>
            <th> Type </th>
            <th> Weight </th>
            <th> Action </th>
            <th> Action </th>
            <th> Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> {{ product.name }}</td>
            <td> {{ product.type }}</td>
            <td> {{ product.weight }}</td>
            <td> <a href="{% url 'update-product' product.id %}"> Edit </a></td>
            <td> <a href="{% url 'delete-product' product.id %}"> Delete </a></td>
            <td> <a href="{% url 'detail-product' product.id %}"> Detail </a></td>
        </tr>
        </tbody>
    </table>
    <a href="{% url 'create_new_product' %}"> Add new product </a>
{% endblock %}
