{% extends 'base.html' %}

{% block title %}
    Create new beekeeper
{% endblock %}

{% block content %}
    <form method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" > Save </button>
    </form>
    <a href="{% url 'all_beekeepers' %}"><i class="fas fa-user-tie"></i> Go to list of beekeepers </a>
{% endblock %}

