{% extends 'base.html' %}

{% block title %}
    Delete beekeeper
{% endblock %}

{% block content %}
    <form method='post'>
        <h1> Are you sure, you want to delete this beekeeper {{ beekeeper.first_name }} {{ beekeeper.last_name }}
            with his {{ beekeeper.age }} ? </h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-warning">> Delete</button>
        <a href="{% url 'all_beekeepers' %}"> cancel </a>
    </form>
{% endblock %}
