{% extends 'base.html' %}

{% block title %}
    List of beekeepers
{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Age </th>
            <th> Action </th>
            <th> Action </th>
            <th> Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> {{ beekeeper.first_name }}</td>
            <td> {{ beekeeper.last_name }}</td>
            <td> {{ beekeepeer.age }}</td>
            <td> <a href="{% url 'update-beekeeper' beekeeper.id %}"> Edit </a></td>
            <td> <a href="{% url 'delete-beekeeper' beekeeper.id %}"> Delete </a></td>
            <td> <a href="{% url 'detail-beekeeper' beekeeper.id %}"> Detail </a></td>
        </tr>
        </tbody>
    </table>
    <a href="{% url 'create_new_beekeeper' %}"> Add new beekeeper </a>
{% endblock %}
