{% extends 'base.html' %}

{% block title %}
    Update beekeeper
{% endblock %}

{% block content %}
    <form method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success"> Update</button>
    </form>
{% endblock %}
