<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">DrBee</a>
        <i class="fas fa-play mx-1 play-button"></i>
        <button class="navbar-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-dark">Beekeepers</button>
            <button type="button" class="btn btn-secondary">Bees</button>
            <button type="button" class="btn btn-light">Parasites and Predators</button>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Products
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                </ul>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active align-content-center" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
            </ul>
            {% if user.is_authenticated is False %}
                <a class="btn btn-md btn-secondary" href="{% url 'add_new_user' %}" style="margin-right: 10px">Sign
                    Up</a>
                <a class="btn btn-md btn-success" href="{% url 'login' %}">Login</a>
            {% else %}
                <a class="btn btn-md btn-success"
                   href="{% url 'logout' %}">Logout, {{ request.user.first_name }} {{ request.user.last_name }}</a>
            {% endif %}
        </div>
    </div>
</nav>