{% extends 'base.html' %}

{% block content %}
    <h1> News </h1>
    <p> Finibus Bonorum et Malorum </p>
    {% for entry in blog_entries %}
        {% if entry.title == 'Wellcome to our DrBee Site' %}
            <h2> {{ post.created_date_and_time }}</h2>
            <img src="{{ post.image }}" width="150" height="100" alt="new_image">
            <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
                vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum
                qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        {% endif %}
    {% endfor %}
{% endblock %}
