{% extends 'base.html' %}

{% block content %}
    {% for post in post_entries %}
        {% if post.creation_date_and_time == post.current_date_and_time %}
            <h1> News </h1>
            <p> {{ post.author_name }}</p>
            <p> {{ post.created_date_and_time }}</p>
            <img src="{{ post.image }}" width="150" height="100" alt="new_image">
            <p> {{ post.content }}</p>
        {% else %}
            <h2> History </h2>
            <p> {{ post.author_name }}</p>
            <p> {{ post.created_date_and_time }}</p>
            <img src="{{ post.image }}" width="150" height="100" alt="new_image">
            <p> {{ post.content }}</p>
        {% endif %}
    {% endfor %}
{% endblock %}
