{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
        <button type="submit" class="btn btn-md btn-success"> Create a new user </button>
            <a href="{% url 'home' %}" class="btn btn-md btn-secondary">
                Cancel
            </a>
        </div>
    </form>
{% endblock %}
