{% extends 'base.html' %}

{% block title %}
    Order details
{% endblock %}

{% block content %}
    <h3 class="text-center">Complete your order details </h3>
    <form method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success"> Place order</button>
    </form>
{% endblock %}
